/* body {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(4, 1fr);
} */

body,
article {
  margin: 0;
  box-sizing: border-box;
  font-family: Mija;
}

body {
  background-color: #f5f3f2;
}

a {
  text-decoration: none;
  color: #757270;
}

.opacity-75 {
  opacity: 0.75;
}

.bg-light-gray {
  background-color: #a29d9b;
}

.bg-dark-gray {
  background-color: #757270;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

section {
  min-height: 10em;
}

.main {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(2, 1fr);
}

.latest-posts {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.latest-posts article {
  height: 41rem;
  width: 100%;
  position: relative;
}

.announcement {
  grid-column: span 2;
}

.see-more a {
  border-bottom: 5px solid #757270;
  width: max-content;
  padding-bottom: 2px;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.see-more a::after {
  content: " → ";
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-article {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.headline {
  grid-column: 1/-1;
}

.guides {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

nav a:hover,
.more-link {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}

nav a {
  color: #fff;
  font-weight: 700;
  padding: 0.8em;
  text-transform: capitalize;
  font-family: Mija;
  font-size: 1.05em;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em;
}

.main-logo {
  margin-bottom: -1.2em;
}

.main-logo img {
  height: 3.5em;
}

.more-link {
  width: 65px;
}

.image-cat {
  display: inline-block;
  background-image: url("https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg");
  background-repeat: no-repeat;
  margin-left: 7px;
  width: 18px;
}

.main a {
  color: white;
  font-family: Mija;
}
.main article {
  display: flex;
  flex-direction: column;
  padding: 10em 5vw 7em;
  font-family: Mija;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.main article::after {
  content: "→";
  font-size: calc(1.375rem + 1.6vw);
  cursor: pointer;
}

.profile figure {
  margin: 0 1.5em 0 0;
  border: 5px solid #fff;
  max-width: 76px;
  max-height: 79px;
  z-index: 1;
  border-radius: 13px;
  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  transform-origin: 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: row;
}

.main img {
  height: 87px;
  width: 87px;
  transform: rotate(10deg);
}

.welcome-note {
  display: flex;
  position: absolute;
  margin-left: 550px;
  color: gray;
}

.profile-name {
  display: flex;
  width: max-content;
  align-self: center;
}

.author-name {
  font-family: Mija;
  font-weight: 900;
}

.wrote {
  margin-left: 0.5em;
  color: #fff;
  font-style: italic;
  font-weight: 100;
}

.post-title {
  line-height: 1.2;
  font-size: calc(1.375rem + 1.6vw);
  font-weight: 700;
}

.post-title a {
  font-family: Mija;
}

.post-title > a > span {
  line-height: 1;
  font-size: 0.35em;
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 2em;
}

.tags li {
  display: inline;
}

.tags li a::before {
  content: "# ";
  color: #666;
}

.tags sup {
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.latest-post-content i {
  margin-left: 20px;
}
.latest-post-content a {
  color: black;
  display: flex;
  font-family: Mija;
  font-size: calc(0.85em + 0.2vw);
  flex-direction: column;
  text-decoration: underline;
  margin: 20px 20px 10px;
}

.latest-post-content p {
  font-size: calc(0.85em + 0.2vw);
  font-family: Mija;
  text-decoration: none;
  margin: 30px 20px 30px;
}

.latest-post-content::after {
  position: absolute;
  bottom: 2em;
  content: " → ";
  font-size: calc(1rem + 1vw);
  padding: 20px;
}

.announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 77%;
}

.announcement .content a {
  background-image: linear-gradient(#232322, #858585);
  background-size: 100% 3px;
  background-position: center bottom -5%;
  background-repeat: no-repeat;
}

.announcement h1 {
  font-size: calc(1.375rem + 1.6vw);
  line-height: 1.2;
  margin: 0.3em 0;
}

.btn-link {
  padding: 1em;
  background: #fff;
  color: #858585;
  border-radius: 11px;
  margin: 1em;
}

.dark {
  color: #757270;
}

.white {
  color: #fff;
}
.small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}
.smashing-articles {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.smashing-articles li {
  font-size: 10px;
  display: inline;
  margin: 10px;
}

.smashing-articles li::before {
  content: "•";
}
.whole-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-p p{
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  width: 300px;
  height: 80px;
}

.footer-content {
  justify-content: center;
}

.footer-more {
  font-size: 10px;
  width: 300px;
  height: 60px;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.footer-more a {
  text-decoration: underline;
  color: white;
}

#write::before {
  content: "✎";
}
