@font-face {
  font-family: ElenaInitial;
  src: url("https://d33wubrfki0l68.cloudfront.net/a978f759fa0230c1e590d1bdb5a1c03ceb538cec/fed6b/fonts/elenawebregular/elenawebregular.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/9c2752fab289f61c6ed3a1f78ab60fb2034103b7/bf691/fonts/elenawebregular/elenawebregular.woff") format("woff")
}

@font-face {
  font-family: Elena;
  src: url("https://d33wubrfki0l68.cloudfront.net/a978f759fa0230c1e590d1bdb5a1c03ceb538cec/fed6b/fonts/elenawebregular/elenawebregular.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/9c2752fab289f61c6ed3a1f78ab60fb2034103b7/bf691/fonts/elenawebregular/elenawebregular.woff") format("woff")
}

@font-face {
  font-family: Elena;
  src: url("https://d33wubrfki0l68.cloudfront.net/151446eb4ad2f20af89f3132f66d03cc92c856f4/74612/fonts/elenawebregularitalic/elenawebregularitalic.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/a6275674bf99f00da2e019547d61933d074f2ae7/51beb/fonts/elenawebregularitalic/elenawebregularitalic.woff") format("woff");
  font-style: italic
}

@font-face {
  font-family: Elena;
  src: url("https://d33wubrfki0l68.cloudfront.net/a7cc92a2d6ae8ea43370e14b53d2ce89a2b2b5ab/7cca9/fonts/elenawebbold/elenawebbold.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/c2ebb4866cc6ce6d5ffdb22b616cb3dde4274107/c6bc6/fonts/elenawebbold/elenawebbold.woff") format("woff");
  font-weight: 700
}

@font-face {
  font-family: Elena;
  src: url("https://d33wubrfki0l68.cloudfront.net/bbc71fd1b91cc1a4ede7ea378a8bf30b9e32173e/93eeb/fonts/elenawebbolditalic/elenawebbolditalic.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/56129334a763b7d04f2f34cbbd3b4f68f72bb6d7/8045a/fonts/elenawebbolditalic/elenawebbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: MijaInitial;
  src: url("https://d33wubrfki0l68.cloudfront.net/ac1833dce386eb55d8e105248ef9126622e8e3e9/03f2d/fonts/mijaregular/mija_regular-webfont.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/0e0910ceb0e2f9adffd9db31665dafa4ec5c10ff/7214b/fonts/mijaregular/mija_regular-webfont.woff") format("woff")
}

@font-face {
  font-family: Mija;
  src: url("https://d33wubrfki0l68.cloudfront.net/ac1833dce386eb55d8e105248ef9126622e8e3e9/03f2d/fonts/mijaregular/mija_regular-webfont.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/0e0910ceb0e2f9adffd9db31665dafa4ec5c10ff/7214b/fonts/mijaregular/mija_regular-webfont.woff") format("woff")
}

@font-face {
  font-family: Mija;
  src: url("https://d33wubrfki0l68.cloudfront.net/94691bb5497213e09480b17ef68446d2b85667e9/d58ec/fonts/mijabold/mija_bold-webfont.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/1d162cc7792bc1f04919a5a344b4082087b9e012/855b4/fonts/mijabold/mija_bold-webfont.woff") format("woff");
  font-weight: 700
}
body,
article {
  margin: 0;
  box-sizing: border-box;
  font-family: Mija;
}

body {
  background-color: #f5f3f2;
  font-size: calc(.35842vw + .95296em);
  font-family: Elena;
}

a {
  text-decoration: none;
  color: #757270;
}

.opacity-75 {
  opacity: 0.75;
}

.bg-light-gray {
  background-color: #a29d9b;
}

.bg-dark-gray {
  background-color: #757270;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}


.grid {
  display: grid;
}

section {
  min-height: 10em;
}

.main {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(2, 1fr);
}

.latest-posts {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.latest-posts article {
  height: 41rem;
  width: 100%;
  position: relative;
  padding: 20px;
  margin: 1em 0;
}

.announcement {
  grid-column: span 2;
}

.see-more a {
  border-bottom: 5px solid #757270;
  width: max-content;
  padding-bottom: 2px;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.see-more a::after {
  content: " → ";
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-article {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.headline {
  grid-column: 1/-1;
}

.guides {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

nav a:hover,
.more-link {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}

nav a {
  color: #fff;
  font-weight: 700;
  padding: 0.8em 0;
  text-transform: capitalize;
  font-family: Mija;
  font-size: 1.05em;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em;
}

.main-logo {
  margin-bottom: -1.2em;
}

.main-logo img {
  height: 3.5em;
}

.more-link {
  width: 85px;
}

.image-cat {
  display: inline-block;
  background-image: url("https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg");
  background-repeat: no-repeat;
  margin-left: 7px;
  width: 18px;
}

.main a {
  color: white;
  font-family: Mija;
}
.main article {
  display: flex;
  flex-direction: column;
  padding: 10em 5vw 7em;
  font-family: Mija;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.main article::after {
  content: "→";
  font-size: calc(1.375rem + 1.6vw);
  cursor: pointer;
}

.frame {
   margin: 0 1.5em 0 0;
  border: 5px solid #fff;
   z-index: 1;
  border-radius: 13px;
  transform: scale(0.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  transform-origin: 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 5px solid #fff;
   max-width: 76px;
  max-height: 79px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.main img, .frame img {
  height: 87px;
  width: 87px;
  transform: rotate(10deg);
}

.profile-name {
  display: flex;
  width: max-content;
  align-self: center;
}

.author-name {
  font-family: Mija;
  font-weight: 900;
}

.wrote {
  margin-left: 0.5em;
  color: #fff;
  font-style: italic;
  font-weight: 100;
}

.post-title {
  line-height: 1.2;
  font-size: calc(1.375rem + 1.6vw);
  font-weight: 700;
}

.post-title a {
  font-family: Mija;
}

.post-title > a > span {
  line-height: 1;
  font-size: 0.35em;
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 2em;
}

.tags li {
  display: inline;
}

.tags li a::before {
  content: "# ";
  color: #666;
}

.tags sup {
  font-size: 0.7em;
  position: relative;
  top: -0.5em;
}

.latest-post-content a {
  color: black;
  display: flex;
  font-family: Mija;
  font-size: calc(0.85em + 0.2vw);
  flex-direction: column;
  text-decoration: underline;
  margin: 20px 0 10px;
}

.latest-post-content p {
  font-size: calc(0.85em + 0.2vw);
  font-family: Mija;
  text-decoration: none;
  margin: 30px 0 30px;
}

.latest-post-content::after {
  position: absolute;
  bottom: 2em;
  content: " → ";
  font-size: calc(1rem + 1vw);
  padding: 20px;
}

.announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 77%;
}

p {
  font-family: Elena;
}

.announcement .content a, .big-text {
  background-image: linear-gradient(#232322, #858585);
  background-size: 100% 3px;
  background-position: center bottom -5%;
  background-repeat: no-repeat;
}

.announcement h1, .big-text {
  font-size: calc(1.375rem + 1.6vw);
  line-height: 1.2;
  margin: 0.3em 0;
}

.btn-link {
  padding: 1em;
  background: #fff;
  color: #858585;
  border-radius: 11px;
  margin: 1em;
}

.dark {
  color: #757270;
}

.white {
  color: #fff;
}
.small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}
.medium {
  line-height: calc(1.5em + .2vw);
  word-break: break-word;
}

.w-75 {
  width: 75%;
}

.billboard {
  padding: 2em;
}

.headline {
          font-family: Elena;
          line-height: calc(1.5em + .2vw);
        }

        .headline h2 {
          font-family: Elena;
          color: #666;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 1em;
          font-weight: 400;
          font-family: AvenirNext, Avenir, Georgia, serif;
          margin: 0;
        }

        .headline {
          font-family: Elena;
          line-height: calc(1.5em + .2vw);
          margin: 2em;
        }

        .headline figure {
          width: 100%;
          height: 100%;
          position: relative;
        }

        .headline figure img {
          width: 274px;
          height: 254px;
          transform: rotate(10deg);
        }

        .headline figure a {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "";
          transform: rotate(-10deg);
          border: 5px solid gray;
          height: 216px;
          width: 218px;
          border-radius: 11px;
          overflow: hidden;
        }

        .flex-x-start {
          justify-content: flex-start;
        }

        .flex-y-start {
          align-items: flex-start;
        }

        .flex-y {
          flex-direction: column;
        }

        .flex-y-center {
          align-items: center;
        }

         .flex-x-center {
          justify-content: center;
        }

        .underline {
          text-decoration: underline;
        }

        .bold-m {
          font-weight: 600;
        }

        .users {
          display: grid;
          justify-content: space-between;
          grid-template: 100px 1fr / 116px 1fr;
          padding: 2em;
        }

        .post-title {
          margin: 0;
        }

        .post-title a {
          font-size: calc(18px + 1vw);
          font-family: Mija;
          color: #333;
          padding: 0;
        }

        .users .frame {
          margin: 0;
          border-color: #666;
          align-self: center;
        }

        .post-teaser {
          grid-column: 2/3;
          line-height: calc(1.5em + .2vw);
          word-break: break-word;
          font-size: 1em;
          font-family: Elena;
        }

        time {
          font-family: Elena;
          font-size:
        }



.smashing-articles {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.smashing-articles li {
  font-size: 15px;
  display: inline;
  margin: 10px;
}

.smashing-articles li::before {
  content: "•";
}
.whole-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-p p{
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  width: 500px;
  height: 80px;
}

.footer-content {
  justify-content: center;
}

.footer-more {
  font-size: 15px;
  width: 500px;
  height: 60px;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.footer-more a {
  text-decoration: underline;
  color: white;
}

#write::before {
  content: "✎";
}

.billboard
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.billboard a {
  color: white;
  text-decoration: underline;
}
.billboard p{
  margin: 0;
  line-height: 2rem;
  padding-top: 1rem;
}

.cat-trampet {
  display: flex;
  justify-content: center;
}

.cat-trampet img {
  width: 400px;
  height: 400px;
}

.submission input,
.submission button {
  text-align: center;
  padding: 11px 37px 11px 18px;
  border-radius: 5px;
}

#small-p {
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 50px;
}

.guides {
  display: flex;
  justify-content: space-around;
}

.guides li{
  text-decoration: underline;
  line-height: 2rem;
}

.guides i {
  font-size: 10px;
  padding-bottom: 0.5rem;
}

.vertical::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20%;
        top: -24%;
        left: 6px;
        transform: rotate(0deg);
        background: linear-gradient(currentColor, currentColor) 0 0 no-repeat;
      }

      .vertical {
        font-variant: small-caps;
        text-transform: uppercase;
        line-height: 1;
        font-size: .7em;
        margin: 20px 1em 0;
        letter-spacing: 4px;
        max-width: 22.5em;
        writing-mode: vertical-lr;
        position: absolute;
        top: 1px;
      }

      .user-article {
        position: relative;
      }

      .flex {
        display: flex;
      }

 .intersection {
        display: grid;
        grid-template: repeat(4, 1fr) / 2fr 1fr;
        justify-items: flex-start;
        padding: 2em;
        column-gap: 5em;
         max-height: 290px;
      }

      .intersection p {
        line-height: 1;
       
        width: 80%;
      }

      .intersection .btn-link {
        max-width: 295px;
        margin-left: 0;
      }

      .book-section {
        grid-row: 1/5;
        grid-column: 2/3;
      }

      .smashing-book {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .8em;
        font-weight: 700;
        display: block;
        margin-bottom: 0.25em;
      }

      .book-img {
        transform: rotate(-10deg);
        position: relative;
        top: -5em;
      }

      .bold {
        font-weight: 900;
      }

      .intersection h2 {
    margin: 0;
}

.global-search {
  height: 4em;
  border-radius: 11px;
padding: 1em;
}

nav div {
  display: flex;
  align-items: center;
}

.welcome-note {
  position: absolute;
  top: 8em;
  width: 100%;
}

.welcome-note a {
  position: absolute;
  right: 10%;
  padding: 8px;
border: 1px #fff solid;
border-radius: 11px;
}

.bg-fk h1 {
    background: white;
    width: max-content;
    padding: 10px;
    box-shadow: -107px 37px 300px -146px rgba(255,255,255,1);
    margin: 0;
    box-shadow: -1px 24px 86px 0px rgb(176, 176, 176);
}

.bg-fk {
    display: flex;
    flex-direction: column;
    align-items: center;
}